<div class="nav">
    <div class="nav-top">
        <div class="nav-logo"></div>
        <div class="nav-title">
            NIGHTHAWK RESOURCES
        </div>
        <div class="nav-search">
            <input id="search" placeholder="Search...">
            <img src="images/icons/search-icon.png">
        </div>
    </div>
    <div class="nav-img"></div>
    <div class="nav-bottom">
        <div class="nav-button"></div>
        <div class="nav-button"></div>
        <div class="nav-button"></div>
        <div class="nav-button"></div>
    </div>
</div>
