<div class="nav">
    <div class="nav-top">
        <div class="nav-logo" onclick="document.body.classList.toggle('active')"></div>
        <div class="section section1" onclick="document.body.classList.remove('active')">
            <div class="section-color section-color1">
                <svg class="card" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="100" height="100">
                </svg>
            </div>
        </div>
        <div class="section section2" onclick="document.body.classList.remove('active')">
            <div class="section-color section-color2">
                <svg class="discount" xmlns="http://www.w3.org/2000/svg" viewBox="-375 377 100 100" width="100" height="100">
                </svg>
            </div>
        </div>
        <div class="section section3" onclick="document.body.classList.remove('active')">
            <div class="section-color section-color3">
                <svg class="cart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="100" height="100">
                </svg>
            </div>
        </div>
        <div class="section section4" onclick="document.body.classList.remove('active')">
            <div class="section-color section-color4">
                <svg class="cart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="100" height="100">
                </svg>
            </div>
        </div>
        <div class="nav-title">
            NIGHTHAWK RESOURCES
        </div>
        <div class="nav-search">
            <input id="search" placeholder="Search...">
            <img src="{{site.baseurl}}/images/icons/search-icon.png">
        </div>
    </div>
    <div class="nav-img"></div>
    <div class="nav-bottom">
        <div class="nav-button" id="classes">CLASSES</div>
        <div class="nav-button" id="sign-in">SIGN-IN</div>
        <div class="nav-button" id="blogs">BLOGS</div>
        <div class="nav-button" id="about">ABOUT</div>
    </div>
</div>
