.assignment {
    h1 {
        font-family: $nighthawk-font2;
        font-size: 3em;
    }
    h2 {
        font-family: $nighthawk-font2;
        font-size: 1.5em;
        color: lightslategray;
    }
    p {
        font-family: 'Arial';
        font-size: 120%;
    }
}