.flex-container {
    display: flex;
    background-color: DodgerBlue;
    flex-direction: column;
}
.flex-container > div {
    background-color: #f111f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    display: flex;
    flex-direction: row;
}
.bigpapa {
    justify-content: space-around;
}
.sil {
    background-color: red;
}
.wef {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: blue;
}
.wef > div {
    margin: 5px;
    padding: 5px;
    background-color: pink;
    border-radius: 10px;
}
.wwwj {
    background-color: purple;
}
#editor {
    text-align: left;
}