.flex-container {
    display: flex;
    background-color: DodgerBlue;
    flex-direction: column;
}
.flex-container > div {
    background-color: #f111f1;
    margin: 10px;
    padding: 20px;
    font-size: 25px;
    display: flex;
    flex-direction: row;
}
.bigpapa {
    justify-content: space-around;
}
.sil {
    background-color: red;
    width: 37%;
}
.sil > div {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1% ;
    padding-bottom: 1%;
}
.wef {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: blue;
    width: 100%;
}
.wef > div {
    margin: 3%;
    padding: 3%;
    background-color: pink;
    border-radius: 10px;
}
.wwwj {
    background-color: purple;
    width: 45%;
}
.wwwj2 {
    background-color: purple;
    width: 20%;
}
.inputis {
    border-radius: 15px;    
    padding: 5px;
    width: 100%;
}
#editor {
    text-align: left;
}
#assignclasse {
    text-align: left;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#arrow {
    width: 20%;
    height: 70%;
}