.assflex-container {
    display: flex;
    flex-direction: column;
}
.assflex-container > div {
    margin: 1%;
    padding: 1%;
    font-size: 180%;
    font-weight: 500;
    display: flex;  
    flex-direction: row;
}
.bigpapa {
    justify-content: space-around;
}
.sil1 {
    background-color: #001a39;
    width: 40%;
    border-radius: 15px;
}
.sil1 > div {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1% ;
    padding-bottom: 1%;
}
.sil2 {
    width: 50%;
}
.wef1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    width: 100%;
    border-radius: 15px;
}
.wef1 > div {
    margin: 3%;
    padding: 3%;
    border-radius: 10px;
}
.wef2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.wef2 > div {
    margin-bottom: 2%;
    padding: 3%;
    background-color: $nighthawk-blue;
    border-radius: 10px;
    font-family: $nighthawk-font2;
}
.wwwj {
    color: black;
    width: 45%;
}
.wwwj2 {
    color: black;
    width: 20%;
}
.inputis {
    border-radius: 15px;    
    padding: 1%;
    width: 100%;
}
#editor {
    text-align: left;
    border-radius: 15px;
    color: black;
    background-color: white;
    border: 0px;
    width: 80%;
    align-self: center;
    z-index: 0;
}
#assignclasse {
    text-align: left;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 2%;
    height: 40%;
    width: 65%;
    font-family: $nighthawk-font2;
}
#arrow {
    width: 60%;
    height: 60%;
}
#numSubmis {
    border-radius: 15px;
    padding: 1%;
    margin: 1%;
    margin-top: 0%;
    width: 10%;
    font-weight: 700;
}
#asstitle {
    width: 36%;
    background-color: #002147;
    border-radius: 15px;
    border-color: #002147;
    font-family: $nighthawk-font2;
    font-weight: 700;
    font-size: 150%;
    position: absolute;
    padding-left: 3%;
    padding-top: 1%;
    height: 8%;
    left: 8%;
}
#asstitle2 {
    background-color: #002147;
    border-radius: 15px;
    border-style: solid;
    border-width: 30%;
    border-color: #002147;
    font-family: $nighthawk-font2;
    font-weight: 700;
    font-size: 180%;
    position: absolute;
    width: 19%;
    height: 7%;
    top: 136%;
    left: 10%;
    z-index: 1;
}
#searc {
    margin-bottom: 2%;
    padding: 1%;
    line-height: 1;
    border-radius: 10px;
    color: black;
    margin-left: 2%;
    margin-right: 2%;
}
::placeholder {
    font-size: 25px;
    color: red;
}
.whitebox {
    background-color: white;
    border-radius: 15px;
    color: black;
    height: 75%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1% ;
    padding-bottom: 1%;
    font-size: 150%;
}
.ima {
    width: 100%;
    height: 100%;
}
.creeatbutton {
    background-color: $nighthawk-blue;
    border-style: solid;
    border-color: $nighthawk-gold;
    font-family: $nighthawk-font2;
    color: white;
    width: 40%;
    font-size: 150%;
    border-radius: 15px;
    margin: 1%;
    margin-top: 3%;
}