$dark-nighthawk-blue: #021a3aff;

.dashboard-container {
    display: flex;
    flex-direction: row;
    height: 40vw;
    width: 100%;
    margin-top: 5em;
    margin-bottom: 4em;

    .user-classes {
        display: flex;
        flex: 20;
        flex-direction: column;

        .title-container {
            background: #002147ff;
            position: absolute;
            transform: translate(-.5vw, -1.5vw);
            width: 40vw;
            height: 4vw;
            border-radius: .5em;
            padding: 1vw;
            margin-right: auto;
            font-family: $nighthawk-font2;
            font-size: 2vw;
        }

        .class-container {
            display: flex;
            flex-direction: column;
            background: $dark-nighthawk-blue;
            height: 100%;
            width: 100%;
            border-radius: .5em;
            overflow-y: scroll;
            scrollbar-color: gray $dark-nighthawk-blue;

            .class-row {
                width: 100%;
                height: 16vw;
                display: flex;
                flex-direction: row;
                vertical-align: middle;
                justify-content: flex-start;
                margin-top: 0;
                margin-bottom: 3vw;

                &:first-child {
                    margin-top: 4vw;
                }

                .class-item {
                    background: green;
                    height: 16vw;
                    width: 16vw;
                    margin: auto;
                    margin-left: 3.5vw;
                    margin-right: 0;
                    display: flex;
                    flex-direction: column;
                    font-family: $nighthawk-font2;

                    $radius: 0.8vw;
                    border-radius: $radius;

                    &:last-child {
                        margin-right: auto;
                    }

                    .class-name {
                        display: flex;
                        flex: 3;
                        align-items: center;
                        font-size: 2vw;
                        text-align: center;
                        justify-content: center;
                    }
    
                    .class-buttons {
                        display: flex;
                        flex-direction: row;
                        margin: auto;
                        background: lightgray;
                        flex: 1;
                        width: 100%;
                        border-bottom-right-radius: $radius;
                        border-bottom-left-radius: $radius;
    
                        img {
                            height: 2.5vw;
                            width: auto;
                            margin: auto;
                            user-select: none;

                            // new hover to change img color
                            &:hover {
                                cursor: pointer;

                                // Changes to $nighthawk-green-bright, generated with https://codepen.io/sosuke/pen/Pjoqqp
                                filter: invert(43%) sepia(77%) saturate(420%) hue-rotate(107deg) brightness(94%) contrast(85%);
                                transition: filter 0.2s;
                            }

                            &:not(hover) {
                                filter: none;
                                transition: filter 0.2s;
                            }
                        }
                    }
                }
            }
        }
    }

    .spacer {
        flex: 1;
        background: none;
    }

    .user-assignments {
        display: flex;
        flex: 8;
        flex-direction: column;

        .assignment-dropdown-container {
            display: flex;
            position: absolute;
            transform: translateY(-1.5vw);
            background: $nighthawk-blue;
            width: 24.7%;
            height: 4vw;
            border-radius: .5em;
            padding: 1vw;
            padding-left: 2vw;
            margin-right: auto;
            font-family: $nighthawk-font2;
            font-size: 2vw;
            
        }

        .assignment-list-container {
            display: flex;
            flex-direction: column;
            background: $dark-nighthawk-blue;
            height: 100%;
            width: 95%;
            margin: auto;
            border-radius: 0.5em;

            .assignment-list-item {
                display: flex;
                flex-direction: row;
                height: 6vw;
                margin: auto;

                &:first-child {
                    margin-top: 4vw;
                }

                .assignment-icon-container {
                    margin: auto;
                    flex: 1;

                    img {
                        width: 3vw;
                        height: 3vw;
                    }
                }
    
                .assignment-text-container {
                    display: flex;
                    flex-direction: column;
                    flex: 4;
    
                    .assignment-name {
    
                    }
    
                    .class-name {
    
                    }
    
                    .assignment-info {
    
                    }
                }
            }
        }
    }
}