$dark-nighthawk-blue: #021a3aff;

.dashboard-container {
    background: red;
    display: flex;
    flex-direction: row;
    height: 40vw;
    width: 100%;
    margin-top: 5em;
    margin-bottom: 4em;

    .user-classes {
        .title-container {
            background: $nighthawk-blue;
        }

        .class-container {
            background: $dark-nighthawk-blue;
        }
    }

    .user-assignments {
        .assignment-dropdown-container {
            background: $nighthawk-blue;
        }

        .assignment-list-container {
            background: $dark-nighthawk-blue;
        }
    }
}