.div0 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.div0 > div {
    margin: 5px;
}
.div1 {
    display: flex;
    flex-direction: column;
    padding: 12px 20px;
}
.div1 > div {
    margin: 10px;
    padding: 12px 20px;
}
.variables {
    background-color: $nighthawk-blue;
    border-radius: 15px;
}
.variables > input {
    border-radius: 15px;
}
.insert {
    font-size: 20px;
    padding: 5px;
}
.insert > input {
    border-radius: 15px;
    padding: 5px;
    width: 650px;
}
.tablee {
    background-color: $nighthawk-blue;
    border-radius: 15px;
    border:1px solid black;
    border-collapse: collapse;
    padding: 6px 10px;
    font-size: 20px;
}
.tablee > th {
    border:1px solid black;
    border-collapse: collapse;
    padding: 6px 10px;
}
.tablee > td {
    border:1px solid black;
    border-collapse: collapse;
    padding: 6px 10px;
}
.bigboyheader {
    font-family: $nighthawk-font2;
    font-weight: bold;
    font-size: 25px;
}
.div2 {
    display: flex;
    flex-direction: column;
    padding: 12px 20px;
}
.div2 > div {
    margin-bottom: 1px;
    margin-top: 1px;
}
.several {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-between;
}
.several > div {
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 20px 40px;
    background-color: $nighthawk-blue;
    text-align: center;
    font-weight: bold;
    border-radius: 15px;
    font-family: $nighthawk-font2;
    font-size: 25px;
}
.subnav-content {
    display: none;
    font-size: 20px;
}
.subnav:hover .subnav-content {
    display: block;
}
.graph {
    background-color: white;
    padding: 12px 20px;
    border-radius: 15px;
}