.div0 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.div0 > div {
    margin: 10px;
}
.div1 {
    display: flex;
    flex-direction: column;
    background-color: red;
    padding: 12px 20px;
}
.div1 > div {
    margin: 10px;
    padding: 12px 20px;
}
.variables {
    background-color: blue;
}
.tablee {
    background-color: pink;
}
.tablee {
    border:1px solid black;
    border-collapse: collapse;
    padding: 6px 10px;
}
.tablee > th {
    border:1px solid black;
    border-collapse: collapse;
    padding: 6px 10px;
}
.tablee > td {
    border:1px solid black;
    border-collapse: collapse;
    padding: 6px 10px;
}
.div2 {
    display: flex;
    flex-direction: column;
    background-color: blue;
    padding: 12px 20px;
}
.several {
    display: flex;
    flex-direction: row;
    background-color: red;
    padding: 12px 20px;
    align-items:flex-start;
}
.several > div {
    background-color: red;
    margin: 5px;
    padding: 10px;
    background-color: pink;
}
.subnav-content {
  display: none;
}
.subnav:hover .subnav-content {
  display: block;
}
.graph {
    background-color: purple;
    padding: 12px 20px;
}