
@import "minima/Nighthawkpages-styles";   
@import "minima/Nighthawkpages-dracula-highlight"; 
@import "minima/dark-mode";

@font-face {
    font-family: "Becka Script Plain Regular";
    src: url($baseurl + "/assets/fonts/Becka\ Script\ Plain\ Regular.otf");
}

@font-face {
    font-family: "Collegiate Inside";
    src: url($baseurl + "/assets/fonts/CollegiateInsideFLF.ttf");
}

a:hover {
    color: #22956b !important
}

// Mixin for adjusting brightness of an element on hover
@mixin basic-hover() {
    cursor: pointer;
    
    // SASS parent selector! (&)
    &:hover {
        filter: brightness(80%);
        transition: filter .2s;
    }

    // not(hover) gives a transition on mouse leave as well!
    &:not(hover) {
        filter: brightness(100%);
        transition: filter .2s;
    }
}

.wrapper {
    margin: 0;
    padding: 0;
    max-width: unset;
}

html, body {
    background-color: $nighthawk-green !important;
}

section {
    width: 90vw;
    margin: auto;
}

::-webkit-scrollbar {
    width: 0;
}

@import "pages/nav.scss";
@import "pages/footer.scss";